fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
email-validator
pydantic-settings
python-dotenv
requests
# Force deploy Thu May 28 01:42:51 PM EDT 2026
# Deployed at Thu May 28 01:55:35 PM EDT 2026
